		<h1>Compte</h1>
			<div class="profil" ng-controller="accountManagerController">
				<!-- Image utilisateur -->
				<div class ="user" ng-cloak>
					<img src="{{user.avatar}}" alt="Avatar_Utilisateur" />
				<!-- Informations utilisateur -->
					<p>{{user.username}}</p>
					<input type="text" placeholder="Votre prénom" value="{{user.firstname}}"/>
					<input type="text" placeholder="Votre nom" value="{{user.lastname}}"/>

					<p>{{user.age}}</p>

				<!-- Sections à cocher -->
					<p>Confidentialité :</p>
					<input type="checkbox" ng-model="user.mailnotifications" ng-true-value="true" ng-false-value="false"/> Notifications par mail
					<input type="checkbox" ng-model="user.phonenotifications" ng-true-value="true" ng-false-value="false"/> Notifications par téléphone
					<input type="checkbox" ng-model="user.newsletter" ng-true-value="true" ng-false-value="false"/> Newsletter
				</div>

				<!-- Liste véhicules utilisateurs -->
				<div class = "vehicles">
					<p>Mes Véhicules </p>
					<select name="Véhicules" ng-cloak>
							<option ng-repeat="vehicle in user.vehicles" value="{{vehicle.idVehicle}}">{{vehicle.name}}</option>
					</select ng-repeat-end><br/>

				<!-- Boutons pour gérer les informations de l'utilisateur -->
					<div class="submit"><a href=""> Ajouter </a></div>
					<div class="submit"><a href=""> Modifier </a></div>
					<div class="submit"><a href=""> Supprimer </a></div>
				</div>

			</div>
