<div class = "managingblock" ng-controller="carpoolingController" ng-init="loadFirst()">
    <h2>Vos participation</h2>
    <!-- Liste carppoling utilisateurs -->

    <div>
        <h3>En attente</h3>
        <ul class="cpliste">

            <li ng-repeat="cpending in user.cpending">
                <a ng-click="selectp(cpending.idCarPooling)" >
                    {{cpending.address}} vers {{cpending.campusName}} - {{cpending.time}}
                </a>
            </li>
        </ul ng-repeat-end>
    </div>

    <div>
        <h3>Validé</h3>
        <ul class="cpliste">

            <li ng-repeat="cvalid in user.cvalid">
                <a ng-click="selectv(cvalid.idCarPooling)" >
                    {{cvalid.address}} vers {{cvalid.campusName}} - {{cvalid.time}}
                </a>
            </li>
        </ul ng-repeat-end>
        <div ng-include="carPendingToModify.form" ng-cloak>{{carPendingToModify.form}}</div>
</div>