<div class = "mycarpooling" ng-controller="carpoolingController">
    <h2>Vos co-voiturages</h2>
    <!-- Liste carppoling utilisateurs -->

        <select name="carpoolings" id="carpoolings" ng-model="carpoolingSelected">

            <option value="" disabled >Selectionner votre co-voiturage</option>
            <option ng-repeat="carpooling in user.offeredcarpooling"  value="{{carpooling.idCarPooling}}">{{carpooling.address}}</option>

        </select ng-repeat-end><br/>

        <button ng-click="selectCarPooling()">Choisir</button>

        <div ng-include="carPoolingToModify.form" ng-cloak>{{carPoolingToModify.form}}</div>
    </div>
</div>