<div class="managingblock" ng-controller="carpoolingController" ng-init="loadFirst()">
    <h2>Vos co-voiturages</h2>
    <!-- Liste carppoling utilisateurs -->

            <ul class="cpliste">

                <li ng-repeat="carpooling in user.offeredcarpooling">
                    <a ng-click="selectCarPooling(carpooling.idCarPooling)" >
                        {{carpooling.address}} vers {{carpooling.campusName}} - {{carpooling.time}}
                    </a>
                </li>

            </ul ng-repeat-end>

        <div ng-include="carPoolingToModify.form" ng-cloak>{{carPoolingToModify.form}}
    	</div>
</div>