<div class="managingblock" data-ng-controller="carpoolingController" data-ng-init="loadFirst()">
    <h2>Vos co-voiturages</h2>
    <!-- Liste carppoling utilisateurs -->

            <ul class="cpliste">

                <li data-ng-repeat="carpooling in user.offeredcarpooling">
                    <a data-ng-click="selectCarPooling(carpooling.idCarPooling)" >
                        {{carpooling.address}} vers {{carpooling.campusName}} - {{carpooling.time}}
                    </a>
                </li>

            </ul data-ng-repeat-end>

        <div data-ng-include="carPoolingToModify.form" data-ng-cloak>{{carPoolingToModify.form}}
    	</div>
</div>