<div class="menu">
    <div class="menubox">
        <a href="" class="closeCross" ng-click="closeCross()">Fermer</a>
        <h2>Se connecter</h2>

        <form novalidate>

            <label for="username">Identifiant</label>
            <input type="text" ng-model="user.username" id="username"/>

            <label for="password">Mot de passe</label>
            <input type="password" ng-model="user.password_sha512" id="password"/>


            <button ng-click="connection(user)">Se connecter</button>
            <a href="">Mot de passe oublié ?</a>
            <a href="" ng-click="showMenu('registration.html')">Pas encore inscrit ?</a>
        </form>

    </div>
</div>