
        <h1>Inscription</h1>
        <div class="form_box">
            <form novalidate>

                <div class="form_line">
                    <input type="text" ng-model="user.FirstName" placeholder="Prénom" required/>
                    <input type="text" ng-model="user.LastName" placeholder="Nom" required/>
                </div>
                <div class="form_line">
                    <!--<input type="text" ng-model="user.Address" placeholder="Adresse" required/>-->
                    <input google-places gp-path="registration" location=location/>
                    <input type="email" ng-model="user.Mail" placeholder="Mail (*.univ-amu.fr)" pattern="(\W|^)[\w.+\-]*@[a-zA-Z0-9.]*univ\-amu\.fr(\W|$)" required/>
                </div>
                <div class="form_line">
                    <input type="text" ng-model="user.UserName" placeholder="Nom d'utilisateur" required/>
                    <input type="password" ng-model="user.PasswordNoHash" placeholder="Mot de passe" required/>

                </div>
                <div class="form_line">
                    <input type="tel" ng-model="user.PhoneNumber" placeholder="Téléphone" required/>
                    <input type="text" ng-model="user.CentersOfInterest" placeholder="Centre d'intérêt" required/>
                </div>

                <div class="submit"><a href="" ng-click="registrationNext(user)">Étape suivante</a></div>

            </form>
        </div>