/* 
	Reset by Eric Meyer

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BEGIN */

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

/* Top of the website */

header
{
	width: 100%;
	height: 70px;
	background-color: #45494D;
}

/* Logo in the navbar */

header .logo 
{
	display: block;
	width: 180px;
	height: 100%;
	margin-left: 20%;
	float:left;
	background-image: url('../img/logo.png');
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;

}

header .logo a
{
	display: none;
}

/* Right of the navbar */

nav
{

	position: absolute;
	height: 100%;
	margin-right:0;
	width: 40%;
	float: left;
	margin-top: 10px;
	right: 0;

}
nav a
{
	text-transform: uppercase;
	font-size: 0.8rem;
}
nav ul
{
	float:left;
    padding-top: 15px;

}

nav ul li
{
	display: inline-block;
	margin-right: 5px;
}

nav ul li a
{
	text-decoration: none;
	color: #FFFFFF;
}

nav #connection_btn
{

 	padding-left: 30px;
    padding-top: 1px;
	position: relative;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
} 

/* SECTION SHORT BIO */

#short_bio
{
	width: 100%;
	height: 200px;	
}

#short_bio h1
{
	padding-top: 30px;
	color: #0EBFDD;
	text-align: center;
	font-size: 50px;
}

#short_bio h2
{
	padding-top: 18px;
	color: #686B6E;
	text-align: center;
	font-size: 20px
}

#newsletter
{
	display: block;
	padding-top: 18px;
	width: 250px;
	margin-left: auto;
    margin-right: auto
}

/* SECTION CHERCHER TRAJET */

#search
{
	width: 100%;
	height: 230px;	
	background-color: #0EBFDD;
}

#search h1
{
	padding-top: 15px;
	color: white;
	text-align: center;
	font-size: 50px;
}
#adr
{
	display: inline-block;
	padding-top: 50px;
	margin-left: 23%;
}
 #adr img
 {
 	vertical-align: middle;
 	padding-left: 10px;
 }

#rarrow
{
	padding-right: 10px;
}

#ch1
{
	text-align: center;
	height: 30px;
    width: 300px;	
}

#ch2
{
	text-align: center;
	height: 30px;
    width: 200px;
}

#date
{
	text-align: center;
	height: 30px;
    width: 200px;
}
#button
{
	display: inline;
}
#bcherche
{
	padding-top: 12px;
	margin-right: 10%;
	margin-left: 30%;
	
}
#bpropose
{
	padding-top: 12px;
	margin-right: 15%;
	padding-left: 3%;
	
}

/* MAPS SECTION */

#maps
{
	width: 100%;
	background-color: white;
}

#mapsp
{
	width: 100%;
	background-color: white;
}

#perso
{
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	background-color: #918383;
}
#range1
{
	margin-top: 20px;
	margin-right: 50px;
}

/*  Footer */
footer
{
	background-color: #45494D;
	width: 100%;
	height: 150px;
}
