/* 
	Reset by Eric Meyer

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a
{
	text-decoration: none;
}

/* BEGIN */

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

/* Top of the website */

header
{
		
	width: 100%;
	height: 70px;
	background-color: #45494D;
}

/* Logo in the navbar */

header .logo 
{
	display: block;
	width: 180px;
	height: 100%;
	margin-left: 20%;
	float:left;
	background-image: url('../img/logo.png');
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;

}

header .logo a
{
	display: none;
}

/* Right of the navbar */

nav
{

	position: absolute;
	height: 70px;
	margin-right:0;
	width: 40%;
	float: left;
	margin-top: 10px;
	right: 0;

}
nav a
{
	text-transform: uppercase;
	font-size: 0.8rem;
}
nav ul
{
	float:left;
    padding-top: 15px;

}

nav ul li
{
	display: inline-block;
	margin-right: 5px;
}

nav ul li a
{
	color: #FFFFFF;
}

nav #connection_btn
{
	display: inline-block;
	width: 120px;
	height: 40px;
	margin-left: 20px;
	text-align: center;
	line-height: 250%;
	background-color: #FBBA00;
	border-radius: 25px;
} 
#connection_btn a
{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
}

/* SECTION SHORT BIO */

section 
{
	display:table;
}

#short_bio
{
	width: 100%;
	height: 200px;	
}

#short_bio h1
{
	padding-top: 30px;
	color: #0EBFDD;
	text-align: center;
	font-size: 50px;
}

#short_bio h2
{
	padding-top: 18px;
	color: #686B6E;
	text-align: center;
	font-size: 20px
}

#newsletter
{
	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    background-color: #C0C0C0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#newsletter a
{
		display: block;
		width: 100%;
		height: 100%;
		color: #45494D;
		font-size: 1.2rem;
		line-height: 250%;
}

/* SECTION CHERCHER TRAJET */

#search
{
	width: 100%;
	height: 230px;	
	background-color: #0EBFDD;
}

#search h1
{
	padding-top: 15px;
	color: white;
	text-align: center;
	font-size: 50px;
}
#adr
{
	display: table;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
 #adr img
 {
 	vertical-align: middle;
 	padding-left: 10px;
 }

#rarrow
{
	padding-right: 10px;
}

#adr input
{
	font-size: 1.1rem;
}

#ch1
{
	text-align: center;
	height: 30px;
    width: 300px;	
}

#ch2
{
	text-align: center;
	height: 30px;
    width: 200px;
}

#date
{
	text-align: center;
	height: 30px;
    width: 200px;
    outline: none;
}
#button
{
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
/* It's media queries time ! */

@media (max-width: 800px) {
	#button
	{
		width:10%;
	}
}
@media (max-width: 1180px) and (min-width: 880px){
	#button
	{
		width: 50%;
	}
}

@media (min-width: 1181px){
	#button
	{
		width: 30%;
	}
}

/* See you soon media queries ! */

#bcherche, #bpropose
{
	display: block;
	margin-top: 15px;
	width: 170px;
	height: 40px;
	border: 1px solid #FFFFFF;
	border-radius: 30px;
	text-align: center;
	line-height: 280%;
}

#bcherche a, #bpropose a
{
	display: inline-block;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 0.9rem;
	width: 100%;
	height: 100%;
}

#bcherche
{
	float: left;
	position: relative;
	right: 0;
}

#bpropose
{
	float: right;
	position: relative;
	left: 0;
}


/* MAPS SECTION */

#maps
{
	width: 100%;
}

#perso
{
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	background-color: #918383;
}
#range1
{
	margin-top: 20px;
	margin-right: 50px;
}

/* Search Panel */
#search-panel-date
{
	display:block;
	position: absolute;
	top: 990px;
	padding: 3px;
	color: #FFFFFF;
	background-color: #0EBFDD;
	border: 2px solid #0EBFDD;
	font-size: 0.9rem;

}

#search-panel
{
	display: table;
	position: absolute;
	width: 650px;
	background-color: #FFFFFF;
	border: 3px solid #0EBFDD;
	top: 1010px;
	padding: 3px;
	line-height: 150%;
	font-size: 0.9rem;
}

#search-panel-photo
{
	display:inline-block;
	background-image: url('../img/profile-picture.png');
	float:left;
	width:86px;
	height:70px;
	background-repeat: no-repeat;
}

#search-panel-delete-btn
{
	display:inline-block;
	float:right;
	width: 100px;
	height: 30px;
	color: #FFFFFF;
	line-height: 210%;
	text-transform: uppercase;
	margin-right: 5px;
	margin-top: 20px;
	text-align: center;
	background-color: #F86E6E;
}
#search-panel-delete-btn a
{
	display: block;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
}
/*  Footer */
footer
{
	display: table;
	background-color: #45494D;
	width: 100%;
	padding-top: 50px;
}

footer hr 
{ 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #5A5E62;
    width: 75%; 
    padding: 0; 
}

footer .copyright
{
	display: table;
	margin-left:auto;
	margin-right:auto;
}